body{
    background-color:#dfdfe2;
  }
  #intro{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;
    font-size:125%;
    
  }
  #picture{
    background-color:white;
    display: flex;
    justify-content:  center;
    align-items: center;
    text-align: center;
  }
  
  #intro>p{
    padding:0;
    margin:0;
  }
  .bold {
    font-weight: 800;
  }
  
  #image{
    max-width:100%;
    height:auto;
    display:block;
  }
  footer{
  text-align:center;
  
  }
  ul{
    list-style-type: none;
    
  }
  li{
    margin-bottom: 20px;
  }